<!-- <br/>

 <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

 <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
      <div class="col-md-4"></div>

    </div> -->
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Gender</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{user.FirstName}}</td>
        <td>{{user.LastName}}</td>
        <td>{{user.GenderID}}</td>
        <td>
            <a class="btn btn-primary" [routerLink]="['/EditEmployee',user.ID]">Edit</a>
            &nbsp; 

            <a class="btn btn-primary" (click)="handleDelete(user.ID)" >Delete</a>

        </td>
      </tr>
     
    </tbody>
  </table>